.header-info {
    padding-top: 20px;
    padding-bottom: 20.45px;
    padding-left: 359px;
    padding-right: 330px;
}

.header-about {
    gap: 30px
}

.header-products {
    gap: 37px;
}

.header-cart {
    gap: 24px;
}

.header-logo-title {
    width: 198px;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 130%;
    color: #717171;
}

.header-favorites {
    position: relative;
}

.header-favorites-num {
    width: 19px;
    height: 19px;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 1px;
    padding-bottom: 1px;
    background: #D79F43;
    border: 1px solid #D79F43;
    border-radius: 100px;
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;    
    line-height: 130%;
    color: #FFFFFF;
    position: absolute;
    top: -8px;
    left: 78%;
}

.header-cart-info {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
}

.header-cart-count {
    color: #717171;
}

.header-cart-count span {
    color: #0E2149;
}

.header-cart-price {
  
    color: #0E2149;
}

.header-bar {
    padding-left: 359px;
    padding-right: 305px;
    background: #0E2149;
}

.header-nav {
    position: relative;
}

.nav-list {
    padding-top: 20px;
    padding-bottom: 20.45px;
    list-style-type: none;
    gap: 50px;
    
}

.nav-list-item a {
    font-family: 'Abhaya Libre', serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.nav-list-item a:hover {
    color:#D79F43;
}

.header-search {
    width: 348px;
    background: #253B6A;
    gap: 20px;
}

.header-search input {
    width: 75%;
    display: block;
    padding-top: 21px;
    padding-bottom: 22px;
    padding-left: 23px;
    background: transparent;
    border: none;
    outline: none; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

.header-search input::placeholder {
    color: #FFFFFF;
} 

.header-search-btn {
    width: 18.71px;
    height: 18.71px;
    display: block;
    margin-top: 21px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    opacity: 0;
    list-style-type: none;
    width: 335px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 13px;
    background-color: #D5AF86;
    position: absolute;
    top: 60px;
    left: 141px;
}

.dropdown-menu-item {
    margin-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #FFFFFF;
    gap: 17px;
}

.dropdown-menu-item:last-child {
    border-bottom: none;
}

.dropdown-menu-item a {
    display: block;
    font-family: 'Abhaya Libre';
    font-weight: 700;
    font-size: 15px;
    line-height: 120%;
    text-decoration: none;
    color: #FFFFFF
}

.nav-list-item:nth-child(2):hover .dropdown-menu {
   opacity: 1;
}