
@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/gothampro_light.ttf');
  src: local('Gotham Pro'), local('GothamPro'),
     url('./fonts/gothampro_light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/gothampro_lightitalic.ttf');
  src: local('Gotham Pro'), local('GothamPro'),
     url('./fonts/gothampro_lightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/gothampro.ttf');
  src: local('Gotham Pro'), local('GothamPro'),
     url('./fonts/gothampro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/gothampro_italic.ttf');
  src: local('Gotham Pro'), local('GothamPro'),
     url('./fonts/gothampro_italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/gothampro_medium.ttf');
  src: local('Gotham Pro'), local('GothamPro'),
     url('./fonts/gothampro_medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/gothampro_mediumitalic.ttf');
  src: local('Gotham Pro'), local('GothamPro'),
     url('./fonts/gothampro_mediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/gothampro_bold.ttf');
  src: local('Gotham Pro'), local('GothamPro'),
     url('./fonts/gothampro_bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/gothampro_bolditalic.ttf');
  src: local('Gotham Pro'), local('GothamPro'),
     url('./fonts/gothampro_bolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/gothampro_black.ttf');
  src: local('Gotham Pro'), local('GothamPro'),
     url('./fonts/gothampro_black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('./fonts/gothampro_blackitalic.ttf');
  src: local('Gotham Pro'), local('GothamPro'),
     url('./fonts/gothampro_blackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1920px;
  margin: 0 auto;
  font-family: 'Gotham Pro', sans-serif;
}

.d-f {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}